.login__form{
    padding: 200px 400px;
}
form{
    width: 500px;
    height: 600px;
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.forgetPassword{
    text-align: right;
    color: black;
}
.register__text{
    text-align: center;
    color: black;
}

/* ------- RESPONSIVE -------  */

@media screen and (max-width: 860px) {
    .login__form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 420px) {
    .login__form_content {
        width: 350px;
    }

}