.listItem {
    width: 250px;
    height: 350px;
    background-color: white;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    color: #ffffff;
}
.image {
    height: 200px;
    width: 100%;
    position: relative;
}
.icon {
    color: black;
    height: 40px;
    position: absolute;
    top: 170px;
    left: 200px;
} 
.itemContent h5{
    color: black;
    text-align: center;
}
  