.footer__main{
    background-color: black;
    color: white;
}
.footer__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.footer__payment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.payment__icon{
    height: 30px;
    width: 50px;
}
.footer__text{
    text-align: center;
}
.text__item{
    font-size: 10px;
    padding-bottom: 10px;
}