.hero__img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    padding-top: 50px;
}
.other__list{
    display: flex;
    flex-wrap: wrap;
}
.other__icon{
    height: 40px;
    padding-left: 10px;
}